{% load static %}
<!DOCTYPE html>

<html>
  <head>
    <title>Saturday Website</title>
    <style>
      body {
        background-color: #faebd7;
        text-align: center;
      }
      p {
        font-size: 50px;
      }

      .register-button {
        font-size: 40px;
      }

      .login-button {
        font-size: 40px;
      }
    </style>
  </head>
  <body>
    <img src="{% static 'mushroom.png' %}" alt="mushroom image" />
    <p>Do you want to login or register?</p>
    <form method="post" action="">
      {% csrf_token %}

      <button class="register-button" type="submit" name="Register">
        Register
      </button>
      <button class="login-button" type="submit" name="Login">Login</button>
    </form>
  </body>
</html>
